.switch{
  height: 10px;
  size: 40px;
}
//Tổng hợp
/*
--disabled: boolean
Nếu đúng, người dùng sẽ không thể chuyển đổi công tắc
--ios_backgroundColor <IOS> :color
Trên iOS, màu tùy chỉnh cho nền. Màu nền này có thể được nhìn thấy khi giá trị công tắc là sai hoặc khi công tắc bị tắt (và công tắc bị mờ).
--onChange:function

*/
