.downCategories{
  margin-top: 20px;
  flex-direction: row;
  padding-bottom: 20px;;
}

.users{
  flex: 5;
  flex-direction: row;
  margin-top: 21px;
}
.user{
  width: 36px;
  height: 36px;
  margin-left: 10px;
  border-radius: 30px;
}
.switch{
  flex: 1;
  padding-top: 20px;
  justify-content: center;
}
