.header{
  color: #2E499C;
  flex-direction: row;
}
.textHeader{
  flex: 5;
  flex-direction: column;
}
.iconBarHeader{
  flex:1;
  justify-content: center;
  align-items: center;
}

.textHeader1{
  font-size: 21px;
  font-weight: bold;
}
.textHeader2{
  font-size: 14px;
  line-height: 15px;
  color: #2E499C;
}
