.HCbox{
  background: white;
  margin: 15px 10px 0px 10px;
  padding: 10px;
  border-radius: 10px;
}
.title{
  font-weight: bold;
  font-size: 18px;
  width: 100px;
}
.text1{
  margin-bottom: 15px;
  flex-direction: row;
}
.text2{
  flex-direction: row;
}
